.project__container {
    width: 950px;
}

.project__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0 ,0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.project__img {
    border-radius: 3rem;
}

.project__name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
    color: var(--title-color);
}

.project__description {
    margin-bottom: 0.5rem;
}

.project__language {
    font-size: var(--small-font-size);
    margin-left: 1rem;
    font-style: italic;
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .project__container {
        width: initial;
    }
    .project__container {
        padding: 1.25rem 1.5rem;
    }
  }
